@import "../../_common_sass/mixin", "../../_common_sass/variables";
*{
    box-sizing: border-box;
}
.home-page{
    .wall{
        height: 300px;
        padding-top: 80px;
        background-color: #2d2d2d;
        text-align: center;
        h5{
            margin-bottom: 20px;
            font-size: 40px;
            color: #00d8ff;
        }
        p{
            font-size: 14px;
            color: #ababab;
        }
    }
    .info{
        margin-top: 30px;
        .panel{
            float: left;
            width: 33.33%;
            padding: 10px;

        }
    }

}