@import
"../../../containers/_common_sass/mixin",
"../../../containers/_common_sass/variables";
.footer{
    text-align: center;
    height: 50px;
    color: #fff;
    background-color: #666;
    line-height: 50px;
}