@mixin radiusImg($rectWidth: 50px, $left: 0, $top: 0){
	width: $rectWidth;
	height: $rectWidth;
	border-radius: 50%;
	position: absolute;
	left: $left;
	top: $top;
}

@mixin button($height: 26px, $block:block, $color: #ffffff, $backgroundColor: #23c8bc, $padding: 0 20px) {
	height: $height;
	line-height: $height;
	display: $block;
	text-align: center;
	color: $color;
	border-radius: 4px;
	padding: $padding;
    background: $backgroundColor;
	cursor: pointer;
}

@mixin moreline-ellipsis($lineHeight: 20px, $lines: 2, $r: 255, $g: 255, $b: 255, $endColor: rgba(255,255,255,1)) {
	position:relative;
	line-height: $lineHeight;
	height: $lineHeight * $lines;
	overflow:hidden;
	&::after{
		content:"";
		font-weight:bold;
		position:absolute;
		background: linear-gradient(to right, rgba($r, $g, $b, 0), $endColor 90%);
		width: 40%;
		height: $lineHeight;
		bottom:0;
		right: 0;
	}
}

@mixin singleline-ellipsis($substract:0){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100% - $substract;
}


%singleline-ellipsis {
	@include singleline-ellipsis;
}

%clearfix{
    zoom: 1;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.clearfix{
	zoom: 1;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

