@import "./variables";

html, body{
    -webkit-overflow-scrolling : touch;
    background-color: $body-background;
    font-size: .24rem;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form,th, td{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
    color: $text-color-2;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    &:active, &:hover {
        color: $text-color-2;
    }
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body, button, input, select, textarea {
    color: $text-color-2;
    font-family: "Microsoft Yahei", 黑体, Arial, STHei, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
}

button{
    border: none;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #989ea0; }

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #989ea0; }

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #989ea0; }

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #989ea0; }
